@import url(http://fonts.googleapis.com/css?family=Exo:100,200,400);
@import url(http://fonts.googleapis.com/css?family=Oswald);
@font-face {
    font-family: Digital;
    src: url(digital-7.ttf);
}


*{
	margin: 0px;
	padding: 0px;
}

html, body, #map3d, .cockpit{
	height: 100%;
	position: relative;
}
a{
	text-decoration: none;
}

#map3d {
	width: -moz-calc(100% - 300px);
    width: -webkit-calc(100% - 300px);
    width: calc(100% - 300px);
    position: relative;
	float: left;
}
.cockpit{
	width: 299px;
	float: left;
	border-left: 1px solid #333333;	
	position: relative;
}
.control{
	height: -moz-calc(100% - 378px);
    height: -webkit-calc(100% - 378px);
    height: calc(100% - 378px);
	position: relative;
	background: -webkit-linear-gradient(#444444,#000000);
  	background: -o-linear-gradient(#444444,#000000);
  	background: -moz-linear-gradient(#444444,#000000);
  	background: linear-gradient(#444444,#000000);
}
#selectBox
{
	margin: 10px;
	width: 252px;
	height: 30px;
}
#startPoint{
	margin-left: 20px;
	display: block;
	line-height: 50px;
	font-size: 30px;
	color: #ffffff;
	font-family: 'Oswald', sans-serif;
}
#startPoint:hover{
	color: #fdb833;
}
#startButton,#stopButton,#resetButton{
	width: 108px;
	height: 108px;	
	margin: 14px;
	borderc: 1px solid #cccccc;
	border-radius: 108px;
}
#startButton{
	background: url("../img/play_grey.png") no-repeat;

}
#startButton:hover{
	background: url("../img/play_gold.png") no-repeat;
}
#stopButton{	
	background: url("../img/stop_grey.png") no-repeat;
}

#stopButton:hover{	
	background: url("../img/stop_gold.png") no-repeat;
}
#startButton:active{
	background: url("../img/play_gold.png") no-repeat;
	border: 1px solid #cccccc;
	border-radius: 108px;
}
#stopButton:active{	
	background: url("../img/stop_gold.png") no-repeat;
	border: 1px solid #cccccc;
	border-radius: 108px;
}
#slider-left,#slider-right,#slider-both{
	margin-top: 10px;
	margin-left: 38px;
	width: 220px;
}

#compasscanvas{
	height: 280px;
	width: 280px;
	background: url("../img/Compass.png") no-repeat;
	background-size: 280px 280px;
}

.vario{
	height: 378px;
	/*background: url("../img/vario_small.png");
	background-color: #bbccbe;*/
	background-color: #000000;
	position: relative;
}
.vario p{
	padding: 0px;
	margin: 0px;
	position: absolute;	
	/*color: #000618;*/
	color: #ffffff;
	line-height: 50px;	
	
}
.vario .digital {
	
	right: 80px;
	align: right;	
	font-family: Digital;
	font-size: 50px;
	color: #ffffff;
}
.vario .label{	
	font-size: 30px;	
	font-family: 'Oswald', sans-serif;
	align: left;	
	left: 20px;
}
.vario .unit{
	font-family: arial;
	font-weight: bold;
	align: left;	
	font-size: 22px;
	left: 230px;
}
.vario #alt_label{
	top: 58px;
}
.vario #alt{
	top: 55px;
}
.vario #alt_unit
{
	top: 64px;
}
.vario #verticalspeed_label{
	top: 113px;
}
.vario #verticalspeed{
	top: 110px;
}
.vario #verticalspeed_unit{
	top: 119px;
}
.vario #horizontalspeed_label{
	top: 173px;
}
.vario #horizontalspeed{
	top: 170px;
}
.vario #horizontalspeed_unit{
	top: 179px;
}


